@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.input,
.select {
  padding: 8px;
  border-radius: v.$radius-md;
  border: 2px solid v.$primary-hover;

  &:focus {
    outline: none;
    border-color: v.$primary;
    box-shadow: v.$shadow-sm;
  }
}

.reset {
  padding: 8px 12px;
  border: none;
  border-radius: v.$radius-md;
  background: v.$reset;
  color: v.$white;
  transition: v.$transition;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}