@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.wrapper {
  background: v.$white;
  padding: 16px;
  border-radius: v.$radius-lg;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border-bottom: 1px solid v.$border;
    text-align: left;
  }

  th {
    background: v.$bg;
    font-weight: 600;
     border-radius: v.$radius-sm;
  }
}

.completed {
  color: v.$completed;
  font-weight: 600;
}

.active {
  color: v.$active;
  font-weight: 600;
}

.button {
  padding: 6px 10px;
  background: v.$primary;
  color: v.$white;
  border: none;
  border-radius: v.$radius-sm;
  cursor: pointer;
  transition: v.$transition;

  &:hover {
    opacity: 0.9;
  }
}